In [1]:
import pandas as pd

EXPLORACIÓN Y TRANSFORMACIONES DE DIAMONDS_TRAIN

In [2]:
diamonds_train = pd.read_csv("data/diamonds_train.csv")
diamonds_train = diamonds_train.drop(["index_id", "city_id", "city_id.1", "index_id.1", "cut_id", "color_id", "color_id.1", "clarity_id", "cut_id.1", "index_id.2", "clarity_id.1"], axis = 1)

In [3]:
diamonds_train["cut_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["cut"] == "Fair":
        diamonds_train.at[i, "cut_encoded"] = 1
    elif r["cut"] == "Good":
        diamonds_train.at[i, "cut_encoded"] = 2
    elif r["cut"] == "Very Good":
        diamonds_train.at[i, "cut_encoded"] = 3
    elif r["cut"] == "Premium":
        diamonds_train.at[i, "cut_encoded"] = 4
    elif r["cut"] == "Ideal":
        diamonds_train.at[i, "cut_encoded"] = 5
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5

In [4]:
diamonds_train["clarity_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["clarity"] == "I1":
        diamonds_train.at[i, "clarity_encoded"] = 1
    elif r["clarity"] == "SI2":
        diamonds_train.at[i, "clarity_encoded"] = 2
    elif r["clarity"] == "SI1":
        diamonds_train.at[i, "clarity_encoded"] = 3
    elif r["clarity"] == "VS2":
        diamonds_train.at[i, "clarity_encoded"] = 4
    elif r["clarity"] == "VS1":
        diamonds_train.at[i, "clarity_encoded"] = 5
    elif r["clarity"] == "VVS2":
        diamonds_train.at[i, "clarity_encoded"] = 6
    elif r["clarity"] == "VVS1":
        diamonds_train.at[i, "clarity_encoded"] = 7
    elif r["clarity"] == "IF":
        diamonds_train.at[i, "clarity_encoded"] = 8
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded,clarity_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4,4
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3,4
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1,5
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2,3
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5,5
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2,2
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5,3
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5,5
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5,3

In [5]:
diamonds_train["color_encoded"] = 0 

for i, r in diamonds_train.iterrows():
    if r["color"] == "J":
        diamonds_train.at[i, "color_encoded"] = 1
    elif r["color"] == "I":
        diamonds_train.at[i, "color_encoded"] = 2
    elif r["color"] == "H":
        diamonds_train.at[i, "color_encoded"] = 3
    elif r["color"] == "G":
        diamonds_train.at[i, "color_encoded"] = 4
    elif r["color"] == "F":
        diamonds_train.at[i, "color_encoded"] = 5
    elif r["color"] == "E":
        diamonds_train.at[i, "color_encoded"] = 6
    elif r["color"] == "D":
        diamonds_train.at[i, "color_encoded"] = 7
diamonds_train

,price,carat,city,color,cut,depth,table,x,y,z,clarity,cut_encoded,clarity_encoded,color_encoded
0,4268,1.21,Dubai,J,Premium,62.4,58.0,6.83,6.79,4.25,VS2,4,4,1
1,505,0.32,Kimberly,H,Very Good,63.0,57.0,4.35,4.38,2.75,VS2,3,4,3
2,2686,0.71,Las Vegas,G,Fair,65.5,55.0,5.62,5.53,3.65,VS1,1,5,4
3,738,0.41,Kimberly,D,Good,63.8,56.0,4.68,4.72,3.00,SI1,2,3,7
4,4882,1.02,Dubai,G,Ideal,60.5,59.0,6.55,6.51,3.95,SI1,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,Antwerp,G,Ideal,62.7,57.0,7.10,7.04,4.43,VS1,5,5,4
40451,12615,2.02,Madrid,F,Good,57.1,60.0,8.31,8.25,4.73,SI2,2,2,5
40452,5457,1.01,Kimberly,H,Ideal,62.7,56.0,6.37,6.42,4.01,SI1,5,3,3
40453,456,0.33,Kimberly,J,Ideal,61.9,54.3,4.45,4.47,2.76,VS1,5,5,1
40454,6232,1.24,London,I,Ideal,62.0,58.0,6.83,6.88,4.25,SI1,5,3,2

In [6]:
diamonds_train = diamonds_train.drop(["city", "color", "cut","clarity"], axis=1)

In [7]:
diamonds_train

,price,carat,depth,table,x,y,z,cut_encoded,clarity_encoded,color_encoded
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,4,4,1
1,505,0.32,63.0,57.0,4.35,4.38,2.75,3,4,3
2,2686,0.71,65.5,55.0,5.62,5.53,3.65,1,5,4
3,738,0.41,63.8,56.0,4.68,4.72,3.00,2,3,7
4,4882,1.02,60.5,59.0,6.55,6.51,3.95,5,3,4
...,...,...,...,...,...,...,...,...,...,...
40450,10070,1.34,62.7,57.0,7.10,7.04,4.43,5,5,4
40451,12615,2.02,57.1,60.0,8.31,8.25,4.73,2,2,5
40452,5457,1.01,62.7,56.0,6.37,6.42,4.01,5,3,3
40453,456,0.33,61.9,54.3,4.45,4.47,2.76,5,5,1
40454,6232,1.24,62.0,58.0,6.83,6.88,4.25,5,3,2

EXPLORACIÓN Y TRANSFORMACIONES DE DIAMONDS_TEST

In [8]:
diamonds_test = pd.read_csv("data/diamonds_test.csv")

In [9]:
diamonds_test["cut_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["cut"] == "Fair":
        diamonds_test.at[i, "cut_encoded"] = 1
    elif r["cut"] == "Good":
        diamonds_test.at[i, "cut_encoded"] = 2
    elif r["cut"] == "Very Good":
        diamonds_test.at[i, "cut_encoded"] = 3
    elif r["cut"] == "Premium":
        diamonds_test.at[i, "cut_encoded"] = 4
    elif r["cut"] == "Ideal":
        diamonds_test.at[i, "cut_encoded"] = 5
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3
...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5

In [10]:
diamonds_test["clarity_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["clarity"] == "I1":
        diamonds_test.at[i, "clarity_encoded"] = 1
    elif r["clarity"] == "SI2":
        diamonds_test.at[i, "clarity_encoded"] = 2
    elif r["clarity"] == "SI1":
        diamonds_test.at[i, "clarity_encoded"] = 3
    elif r["clarity"] == "VS2":
        diamonds_test.at[i, "clarity_encoded"] = 4
    elif r["clarity"] == "VS1":
        diamonds_test.at[i, "clarity_encoded"] = 5
    elif r["clarity"] == "VVS2":
        diamonds_test.at[i, "clarity_encoded"] = 6
    elif r["clarity"] == "VVS1":
        diamonds_test.at[i, "clarity_encoded"] = 7
    elif r["clarity"] == "IF":
        diamonds_test.at[i, "clarity_encoded"] = 8
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded,clarity_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3,3
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5,5
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4,3
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3,3
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5,3
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5,4
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3,2
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5,6

In [11]:
diamonds_test["color_encoded"] = 0 

for i, r in diamonds_test.iterrows():
    if r["color"] == "J":
        diamonds_test.at[i, "color_encoded"] = 1
    elif r["color"] == "I":
        diamonds_test.at[i, "color_encoded"] = 2
    elif r["color"] == "H":
        diamonds_test.at[i, "color_encoded"] = 3
    elif r["color"] == "G":
        diamonds_test.at[i, "color_encoded"] = 4
    elif r["color"] == "F":
        diamonds_test.at[i, "color_encoded"] = 5
    elif r["color"] == "E":
        diamonds_test.at[i, "color_encoded"] = 6
    elif r["color"] == "D":
        diamonds_test.at[i, "color_encoded"] = 7
diamonds_test

,id,carat,cut,color,clarity,depth,table,x,y,z,city,cut_encoded,clarity_encoded,color_encoded
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,3,3,5
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,5,5,1
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,4,3,3
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,3,3,5
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,3,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,5,3,6
13481,13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,5,4,2
13482,13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,5,5,5
13483,13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,3,2,5
13484,13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,5,6,2

In [12]:
diamonds_test = diamonds_test.drop(["city", "color", "cut","clarity", "id"], axis=1)

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import GradientBoostingRegressor
from scipy.stats import uniform, randint

In [14]:
X = diamonds_train.drop(columns=['price'])
y = diamonds_train["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
regressor = RandomForestRegressor()

param_dist = {'n_estimators': randint(100, 1000),
              'max_depth': [None, 3, 10],
              'min_samples_split': randint(2, 10),
              'min_samples_leaf': randint(1, 4),
              'max_features': [None, 'sqrt', 'log2']}

random_search = RandomizedSearchCV(regressor, 
                                   param_distributions=param_dist, 
                                   n_iter=100, 
                                   cv=5, 
                                   verbose=3, 
                                   scoring='neg_root_mean_squared_error', 
                                   random_state=42, 
                                   n_jobs=-1)

random_search.fit(X_train, y_train)

y_pred = random_search.best_estimator_.predict(X_test)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [ ]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
rmse

In [ ]:
y_prediction = regressor.predict(diamonds_test)

In [ ]:
solution = []
for i, value in enumerate(y_prediction):
    solution.append((i,value))

In [ ]:
submission_file = pd.DataFrame(solution)

In [ ]:
submission_file

In [ ]:
submission_file.columns = ["id", "price"]

In [ ]:
submission_file.reset_index(drop=True)